.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    //  margin: 30px auto;
    width: 100%;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.card .card_image img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    // text-align: center;
    // border-radius: 0px 0px 40px 40px;
    // font-family: sans-serif;
    // font-weight: bold;
    // font-size: 30px;
    margin-top: -100px;
    // height: 40px;
    //margin-bottom: 30px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    //  background: #fff;
    margin-left: 2px;
    width: 60%;
    /* Center slide text vertically 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}

.swiper-pagination {
    margin-bottom: -10px;
    // margin-top: 200px;
}